/* contact form */
.contact-area{
    .left-content-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
        padding-right: 60px;
    }
}
.contact-form-wrapper{
    box-shadow: 0 4px 60px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 10px;
    padding: 60px;
    .info-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .title{
        text-align: center;
        margin-bottom: 55px;
    }
    .btn-wrapper {
        margin-top: 40px;
        .submit-btn{
            display: block;
            border: none;
            background-color: var(--main-color-one);
            color: var(--heading-color);
            transition: all 300ms;
            width: 100%;
            font-weight: 500;
            font-size: 18px;
            border-radius: 5px;
            padding: 15px 0;
            &:hover{
                background-color: var(--secondary-color);
                color: #fff;
            }
        }
    }
    .extra-wrap{
        a{
            transition: all 300ms;
            &:hover{
                color: var(--main-color-one);
            }
        }
    }
    .form-group{
        margin-bottom: 20px;
        &.with-icon {
            position: relative;
            .icon {
                position: absolute;
                right: 16px;
                bottom: 18px;
                cursor: pointer;
            }
        }

        label{
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: var(--heading-color);
            display: block;
            margin-bottom: 10px;
        }
        .form-control,input,select,textarea{
            &.form-check-input{
                background-color: #2222;
                padding: 0;
                width: 20px;
                height: 20px;
                margin-top: 0px;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
                &:checked{
                    background-color: var(--main-color-one);
                }
                .form-check-label{
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
            background-color: #F5F6F5;
            border: none;
            display: block;
            padding: 20px;
            width: 100%;
            color: var(--paragraph-color);
            border-radius: 5px;
            &::placeholder{
                color: #959595;
            }
        }
        select{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='rgb(149, 149, 149)'><polygon points='0,0 10,0 5,5'/></svg>");
            background-repeat: no-repeat;
            background-position-y: 60%;
            background-position-x: calc(100% - 10px);
            -webkit-appearance: none;
            appearance: none;
            option {
                background-color: #fff;
                color: var(--main-color-one);
            }

            &:hover {
                cursor: pointer;
            }
        }
        textarea{
            min-height: 130px;
            resize:none;
        }
    }
}
