.btn-default{
    display: inline-block;
    background-color: var(--main-color-one);
    border: none;
    padding: 10px 30px;
    color: var(--heading-color);
    transition: all 300ms;
    text-decoration: none;
    &:hover{
        background-color: var(--secondary-color);
        color: #fff;
    }
    &[disabled="disabled"] {
        opacity: .8;
        cursor: no-drop;
    }
}
