//== Template Main Color
$white: #fff;
$danger: #dc3545;
$border: #726c94;
$black: #000;
$gray: #F2F3F5;
$Zircon: #F1F6FF;
$main-color-one: #FF6B2C;
$main-color-two: #FF9575;
$main-color-three: #FF7A7A;
$secondary-color: #378FFF;
$heading-color: #333333;
$paragraph-color: #666666;
$steam-color: #dddddd;
$footer-bg-1: #E6F2FF;
$footer-bg-2: #FFF9F3;
$alabaster-color: #f9f9f9;
$chardonnay-color: #FFCC7B;
$aquamarine-color: #7AD6E1;
$promo-bg-1: #378FFF;
$promo-bg-2: #2E001F;
$promo-bg-3: #FF7A41;
$promo-bg-4: #7AD6E1;
$promo-bg-5: #95BF47;
$promo-bg-6: #028CB0;
$brand-bg-1: #FF6B2C;
$brand-bg-2: #53C1DE;
$brand-bg-3: #FDAD00;
$brand-bg-4: #8892BF;
$brand-bg-5: #41B883;
$brand-bg-6: #A259FF;
$brand-bg-7: #028CB0;
$brand-bg-8: #FF26BE;
$gradient-bg-secondary: linear-gradient(180deg, #358cfd 0%, #1157d8 100%);
$gradient-bg-secondary-reverse: linear-gradient(180deg, #1157d8 0%, #358cfd 100%);
$gradient-bg-1: linear-gradient(135deg, rgba($main-color-one, .8) 0%, rgba($main-color-one, 1) 100%);
$gradient-bg-1-reverse: linear-gradient(135deg, rgba($main-color-one, 1) 0%, rgba($main-color-one, .8) 100%);
$gradient-bg-2: linear-gradient(135deg, rgba($main-color-two, .8) 0%, rgba($main-color-two, 1) 100%);
$gradient-bg-2-reverse: linear-gradient(135deg, rgba($main-color-two, 1) 0%, rgba($main-color-two, .8) 100%);
$gradient-bg-3: linear-gradient(135deg, rgba($main-color-three, .8) 0%, rgba($main-color-three, 1) 100%);
$gradient-bg-3-reverse: linear-gradient(135deg, rgba($main-color-three, 1) 0%, rgba($main-color-three, .8) 100%);
//== social media colors
$facebook: #3b5999;
$twitter: #55acee;
$pinterest: #c40014;
$youtube: #ff1544;
$dribbble: #ea4c89;
$behance: #131418;
$google-plus: #dd4b39;
$linkedin: #326DE4;
$instagram: linear-gradient(to top, #fea038, #ff8841, #ff704e, #ff575f, #ff3e71, #fa3080, #f12690, #e523a0, #d12dac, #bb37b7, #a140bf, #8347c5);
//  transition
$transition: all 0.3s ease-in;
$transition-long: all 0.5s ease-in;